* {
    margin: auto 5px;
}

body {
    line-height: 1.5em;
}

.clicks, button, input {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid rgb(221, 157, 157);
    display: inline-block;
    background-color: rgb(238, 206, 206);
}

img {
    margin: 10px;
    width: 150px;
}

.red {
    color: rgb(173, 10, 10);
}

.underline{
    text-decoration: underline;
}

.border_underline {
    border-bottom: 2px solid black;
    z-index: 6;
}